k8s:
  serviceAccountName: bakery-agent
  nodeSelector:
    node: build
  tolerations:
  - effect: NoSchedule
    key: karpenter/node.build
    operator: Exists
  imagePullSecrets:
  - name: registry-credential