---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: build
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - get
  - watch
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: build-agent
rules:
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get