name: Build and Push Images

on:
  push:
    tags:
      - 'v*'

env:
  IMAGE_NAME: docker.io/${{ vars.DOCKERHUB_USERNAME }}/bakery

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Extract version from tag
      id: vars
      run: echo "version=${GITHUB_REF_NAME}" >> "$GITHUB_OUTPUT"

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Docker Hub login
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push images
      env:
        IMAGE_TAG: ${{ steps.vars.outputs.version }}
      run: >
        docker buildx bake
        --allow=fs.read=..
        --push
        --provenance false
        -f deploy/container/compose.yaml
        server client agent
